/* GENERAL STYLES */
html {
	margin-bottom: 1px; 
	min-height: 100%;
}

body {
	background-color: #ffffff;
	color: #000000;
	cursor: default;
	font-family: Arial, sans-serif;
	font-size: 11px;
	letter-spacing: 1px;
	line-height: 12px;
	margin: 0px;
	padding: 0px;
}

img {
	border-style: none;
}

a {
	color: inherit;
	text-decoration: underline;
}

a:visited {
	color: inherit;
}


/* TEXT COLOURS */
.text.black {
	color: #000000;
}

.text.white {
	color: #ffffff;
}

.text.gray {
	color: #666666;
}

.text.lightGray {
	color: #cccccc;
}

.text.red {
	color: #ff0000;
}

/* TEXT COLOURS */
.text.tiny {
	font-size: 9px;
	line-height: 11px;
}

.text.small {
	font-size: 11px;
	line-height: 12px;
}

.text.normal {
	font-size: 13px;
	line-height: 14px;
}

.text.medium {
	font-size: 15px;
	line-height: 17px;
}

.text.large {
	font-size: 18px;
	line-height: 24px;
}


/* TEXT STYLES */
.text.quote {
	font-style: italic;
}

@font-face {
    font-family: 'Commodore';
    src: url('c64.eot'); /* IE9 Compat Modes */
    src: url('c64.eot?#IE8FIX') format('embedded-opentype'), /* IE6 - IE8 */
         url('c64.woff') format('woff'), /* Modern Browsers */
         url('c64.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}